.navbar {
    background-color: firebrick;
    cursor: pointer
}

.btn-main {
    background-color: firebrick;
    border-color: red;
    color: white;
    cursor: pointer;
    font-size: 3vh;
}

.container {
    margin-top: 40px
}

.jumbotron {
    margin: 0;
    min-height: 90vh;
}